* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Navigation Bar */
.nav {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: transparent;
    background-color: #c8bdbd;
    box-shadow: 0px 0px 10px rgb(187, 183, 183);
}

/* Burger Menu Hidden on Large Screens */
.burger {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 20;
}

/* Burger Lines */
.line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;
}

.line:hover {
    background-color: rgb(64, 162, 148);
}

.head {
    display: none;
}

.heading {
    display: none;
}

.head2 {
    display: none;
}

.hed {
    display: none;
}

.loging {
    display: none;
}

.anchertag {
    display: none;
}

/* Body Content */
.body {
    padding: 20px;
    width: 100%;
    height: calc(100vh - 60px);
}



.anchertag:hover {
    transition: color 0.3s;
    color: #007bff;
}
/* start book css */
    .box {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 1rem;
    padding: 1rem;
    width: 105%;
    margin-top: 60px;
}
.card {
    height: 215px;
    width: 160px;
    box-sizing: border-box;
    border-radius: 8px;
    /* flex: 0 1 calc(33.333% - 1rem); */
    background-color: transparent;
    /* box-shadow: 0px 0px 10px rgb(19, 123, 151); */
    color: wheat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;;

}

.card:hover {
    transform: scale(1.01);
    transition-duration: 500ms;
}
/* Navigaion hidden on small screens */
  @media(max-width:820px) {
    .box{
        width: 80%;
    }
   }
/* Navigation hidden on small screens */
@media (max-width: 420px) {
  


    .box{
        width: 100%;
        flex-direction: row;
    }

    .nav {
        width: 50%;
        height: 100vh;
        position: absolute;
        left: -100%;
        top: 0;
        transition: left 0.3s ease;
        z-index: 15;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }

    .nav.show-nav {
        left: 0;
    }

    .burger {
        display: flex;
    }



    .head {
        display: block;
        position: absolute;
        top: 5px;
        left: 70px;
        width: 100%;
        height: 50px;
        flex-direction: column;
    }

    .head2 {
        display: flex;
    }

    .hed {
        display: block;
        width: 25%;
    }

    .heading {
        display: block;
        color: black;
        position: relative;
        top: 10px;
        left: 10px;
        font-size: 22px;
    }

    .loging {
        display: block;
        position: absolute;
        top: 10px;
        right: 100px;
        color: black;
    }

    .anchertag {
        display: inline-block;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        color: black;
        margin-right: 15px;
    }
}