.container{
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hedaring{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.book-card {
  width:500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.book-card img{
 width: 331px;
  height: 378px;
  border-radius: 5px;
  margin-top: 24px;
}
.btnn{
  width: 100px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 16px;
}
.btnn:hover {
  background-color: #0056b3;
}
.btnn.btndark{
  background-color: #dc3545;
}
.btnn.btndark:hover {
  background-color: #c82333;
}