<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/login.css">
    <title>Booksy</title>

</head>

<body>
    <div class="main">
        <div class="login">
            <h2 class="hedar">Login</h2>
            <form action="/login" method="POST">
                <label for="phone">Phone Number</label>
                <input type="text" id="Email" name="phoneNumber" class="input" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="input" required>

                <button type="submit">Login</button>
            </form>
            <a class="signup-link" href="/register">Don't have an account? Sign up</a>
        </div>
    </div>
</body>

</html>